html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%;}
.container { height:100%;}
.row { height:100%; }
.col-lg-9 { height: 100%; }
#input-bar {display: inline-block; width: inherit;}
.input-view {margin-top:10px; margin-bottom: 10px;}

@media only screen and (max-width: 375px){
	.container{
		margin-left: 1em;
		margin-right: 1em;
	}
}
